@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

.bg-white {
	background-color: #fff;
}

.responsive-poster {
	display: block;
	width: 100%;
	position: relative;	
	height: 0;
	padding-bottom: 147.1%;
	overflow: hidden;

}
.responsive-poster-item {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.form-check-inline + .form-check-inline{
	margin-left: 0; 
}

.form-check-inline {
	margin-right: 0.75rem;
}