@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import 'variables';
@import "../../node_modules/compass-mixins/lib/compass";
@import 'circle';
@import '../../node_modules/bootstrap/scss/bootstrap';

.bg-white {
	background-color: #fff;
}

.bg-yellow {
	background-color: $yellow;
}
.text-yellow {
	color: $yellow;
}
.text-faded {
	color: $gray-lighter;
}

.responsive-poster {
	display: block;
	width: 100%;
	position: relative;	
	height: 0;
	//padding-bottom: 147.1%;
	padding-bottom: 153.3742%;
	overflow: hidden;
	&:hover {
		.btn-group.movie-update	{
			opacity: 1;
		}	
	}
}

.responsive-poster-item {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.form-check-inline + .form-check-inline{
	margin-left: 0; 
}

.form-check-inline {
	margin-right: 0.75rem;
}
.movie-update {
	position: absolute;
	left: 10px;
	bottom: 10px;
	margin-bottom: 0;
	opacity: 0;
	transition: all 0.35s ease;
}
.movie-item {
	h6 {
		//min-height: 3rem;
		//line-height: 1.5;
	}
}